<div class="container">
  <%= byebug %>
  <h1>Welcome <%= @user.name%></h1>

  <p>Your email is: <%= @user.email %></p>
  <p>Your password is: <%= @user.password %></p>
  <a href="/">Logout</a>
  <br/>
  <br/>
  <a href="" action="delete_user" method="delete">Delete this account</a>
</div>